/* Navbar */
.navbar {
  background-color: #00274C;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar img {
  height: 30px;
  width: auto;
}
.navbar h1 {
  margin: 0;
}

/* Main content */
.container {
  text-align: center;
}
.section {
  margin-bottom: 50px;
}
.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.media img {
  max-width: 100%;
}

/* Left align text */
.text, .buttons {
  text-align: justify;
}

/* Buttons */
.button {
  background-color: #00274C;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #FFCB05; 
}