<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <title>SignUp</title>
    <link rel="icon" href="../static/media/icon.png" type="image/icon type">
</head>
<body>
    <div>
        <nav>
            <div class="logo">
                <a href="index.html"></a><img src="../static/media/issf_logo_no_bg (1).png" alt="Logo Image">
            </div>
            <div class="hamburger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="https://issf.umd.umich.edu/home" target="_blank">ISSF Website</a></li>
                <li><a href="https://forms.gle/cnP6NHY8fqGXRDfX6" target="_blank">Inquiry Form</a></li>
                <li><a button class="login-button" href="{{ url_for('auth.login') }}">Login</button></a></li>
            </ul>
        </nav>
    </div>
    <br><br><br><br>
    <div class="login-container">
        
        <div class="login-header">SignUp</div>
        <div class="login-content">
            <form id="signupForm">
                
                <label for="firstname">First Name:</label>
                <input type="text" id="firstname" name="firstname" required>

                <label for="lastname">Last Name:</label>
                <input type="text" id="lastname" name="lastname" required>

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="email">Email ID:</label>
                <input type="email" id="email" name="email" required>

                <label for="phone">Number:</label>
                <input type="text" id="phone" name="phone" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit" class="login-submit">SignUp</button>
            </form>
        </div>
    </div>

    <div class="footer">
        <div class="section">
            <div>
                <h3><strong><b>Researchers & Developers</b></strong></h3>
                <ul>
                    <br>
                    <li><a href="https://www.linkedin.com/in/abhishek-borde/" target="_blank">Abhishek Borde</a></li>
                    <li><a href="https://www.linkedin.com/in/harshit-a-barde/" target="_blank">Harshit Barde</a></li>
                    <li><a href="https://www.linkedin.com/in/abhishek-kumar-pathak-b559b1237/" target="_blank">Abhishek Kumar Pathak</a></li>
                    <li><a href="https://www.linkedin.com/in/haardrao/" target="_blank">Haard Rao</a></li>
                </ul>
            </div>
        </div>
        <div class="section">
            <div>
                <div
                    <p>Under the supervision of <a href="https://www.linkedin.com/in/hafizmalik/" target="_blank">Professor Hafiz Malik</a></p>
                </div>
            </div>
        </div>
        <div class="bottom-bar">
            <p>Funded by <a href="https://www.nsf.gov/" target="_blank" style="color: white; text-decoration: none;"><strong>NSF</strong></a></p>
        </div>
    </div>

    <script src="../static/js/nav.js"></script>
    <script src="../static/js/join.js"></script>
</body>
</html>
